streamlit==1.31.0
pandas>=2.2.0  # Removing the '==' allows pip to find the best available wheel
numpy<2.0.0     # Keeps compatibility with older libraries
plotly==5.18.0
prophet==1.1.5
scikit-learn==1.4.0
psutil==5.9.8
requests==2.31.0
python-dotenv==1.0.1
